
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 0!important;
    padding: 0!important;
}
***********************************************

@media (min-width: 960px) {
    .header-container {
    padding-left: 40px;
    padding-right: 40px;
    display: flow-root;
    box-sizing: content-box;
}
}
@media (max-width: 959px) {
    .header-container {
    padding-left: 0;
    padding-right: 0;
    
}
.header {
    background-color: #dbcdb3;
    padding: 40px 20px;
    display: flex;
    position: relative;
}

/*.header2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    width: max-content;
    box-sizing: border-box;
    z-index: 990;
    align-items: center;
    align-items: center;
    padding-top: inherit;
    display: none;
}
*/
.contact--socials {
    display: flex!important;
    flex-wrap: nowrap;
}
ul.contact--socials {
    margin-right: 25px;
    padding-left: 16px;
}
.contact-title {
    display: none;
}
}
.header {
    background-color: #dbcdb3;
    padding: 40px 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.header1 {
    display: flex;
    align-items: center;   
    flex-wrap: wrap;
}
.logo {
    height: auto; /* Păstrează proporțiile imaginii */
}
@media all and (min-width:960px){
    .header2 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        width: max-content;
        box-sizing: border-box;
        z-index: 990;
        align-items: center;
        align-items: center;
        padding-top: inherit;
    }
}
@media all and (max-width: 959px){
    .header2{
        display:none;
    }
    .header2.active{
        position: absolute;
        top: 150px;
        left: 50%;
        background-color: #dbcdb3;
        width: 50%;
        z-index: 999;
        height: 100%;
        display: block;
        transform: translatex(-50%);
        padding: 20px;
        text-align: center;
        border-top: 1px solid;
    }
    .header2.active nav ul{
    flex-direction: column;
    align-items: center;
    }
}
.header2 h1 {
    margin: 0; /* Elimină marginea implicită */
    font-size: 24px; /* Ajustează dimensiunea titlului */
    color: #000000;
}
.header2 nav ul {
    list-style: none; /* Elimină marcajele default ale listei */
    padding: 0; /* Elimină padding-ul default */
    margin: 10px 0 0; /* Adaugă spațiu deasupra meniului */
    display: flex; /* Aranjează linkurile pe orizontală */
    justify-content: center; /* Centrează linkurile */
    gap: 15px; /* Spațiu între linkuri */
}
.header2 nav ul li a {
    color: #000000; /* Link alb */
    text-decoration: none; /* Elimină sublinierea */
}
.header2 nav ul li a:active {
    color: #696969!important;
}
.header2 nav ul li a:hover {
    color: #696969!important;
}

/* Zona 3: Link sau alte informații */
.header3 {
    margin-right: 0 !important;
    flex-wrap: wrap;
    margin-left: auto;

    align-items: center;
}
.header3 a {
    color: #000000;
    text-decoration: none; /* Elimină sublinierea */
}

.header3 a:hover {
    color: #696969 !important;
}
.contact--title {
    display: block;
}
.contact--title {
    margin-left: 30px!important;
}
.contact--socials {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.header3 img {
    width: 40px;
    height: 40px;
    
}
li::marker {
    content: '';
}
ul.contact--socials {
    margin-right: 20px;
    padding-left: 0;
}
.contact--socials img {
    margin-right: 20px;
}




**********************************************************
.footer-container {
    text-align: center;
    background-color: #dbcdb3!important;
    padding: 40px 0;
    position: relative;
}
.footer {
    background-color: #dbcdb3!important;
    padding: 40px 0;
    text-align: center;
}

***********************************************************

/* Secțiunea Galerie */
#galerie {
    padding: 20px;
    text-align: center;

}

#galerie h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

#galerie p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

/* Container pentru galerie */
.galerie-container {
    display: flex!important;
    flex-wrap: wrap; /* Permite trecerea pe rânduri pentru imagini */
    gap: 10px;       /* Spațiu între imagini */
    justify-content: center; /* Centrează imaginile */
}

/* Fiecare element din galerie */
.galerie-item {
    width: 30%;        /* Fiecare imagine ocupă 30% din lățime */
    aspect-ratio: 0; /* Raport de aspect 16:9 (poți schimba la 4:3 sau 1:1 pentru pătrate) */
    overflow: hidden;  /* Ascunde părțile care depășesc containerul */
    position: relative;
}

/* Imaginea din interior */
.galerie-item img {
    width: 100%;      /* Ajustează imaginea pe lățimea containerului */
    height: 100%;     /* Ajustează imaginea pe înălțimea containerului */
    object-fit: cover; /* Păstrează proporțiile imaginii fără distorsionare */
    display: block;   /* Elimină spațiul alb sub imagini */
}
@media (max-width: 959px) {  
    #galerie {
        margin: 20px;
    }
    #galerie h2 {
        font-size: 24px;
        margin-bottom: 0;
        margin-top: 0;
        text-align: center;
    }
}


**********************************************
#contact {
    margin-top: 100px!important;
}

.contact a {
    color: #000000!important;
    text-decoration: none!important;
    font-weight: bolder;
}
.contact a:hover {
    color: #696969!important;
    text-decoration: none!important;
    font-weight: bolder;
}
***********************************
.flex-container {
    
}


.flex-container1 {
    margin: 50px 200px; /* Spațiu exterior */
    display: flex!important;
    
}
.image-container1{
    width: 36.7%;
    margin-top: 30px;
}
.image-container1 img {
    width: 100%; /* Imaginea se scalează pentru a ocupa 30% */
    height: auto; /* Păstrează proporțiile imaginii */
    position: relative;
}

.text-container1 {
     font-size: 16px; /* Dimensiunea textului */
     position: relative;
     width: 57.8%;
     margin-top: 30px;
     margin-left: 10%;
     line-height: 1.8;
}
.flex-container2 {
    margin: 50px 200px; /* Spațiu exterior */
    display: flex!important;
    
}
.image-container2{
    width: 36.7%;
    margin-top: 50px;
}
.image-container2 img {
    width: 100%; /* Imaginea se scalează pentru a ocupa 30% */
    height: auto; /* Păstrează proporțiile imaginii */
    position: relative;
}
.text-container2 {
     font-size: 16px; /* Dimensiunea textului */
     position: relative;
     width: 57.8%;
     margin-top: 50px;
     margin-right: 10%;
     line-height: 1.8;
}
.flex-container3 {
    margin: 50px 200px; /* Spațiu exterior */
    display: flex!important;
    
}
.image-container3{
    width: 36.7%;
    margin-top: 30px;

}
.image-container3 img {
    width: 100%; /* Imaginea se scalează pentru a ocupa 30% */
    height: auto; /* Păstrează proporțiile imaginii */
    position: relative;
    margin-top: 30px;
}

.text-container3 {
     font-size: 16px; /* Dimensiunea textului */
     position: relative;
     width: 57.8%;
     margin-top: 30px;
     margin-left: 10%;
     line-height: 1.8;
}
.flex-container4 {
    margin: 50px 200px; /* Spațiu exterior */
    display: flex!important;
    
}
.image-container4{
    width: 36.7%;
    margin-top: 30px;

}
.image-container4 img {
    width: 100%; /* Imaginea se scalează pentru a ocupa 30% */
    height: auto; /* Păstrează proporțiile imaginii */
    position: relative;
    margin-top: 30px;
}

.text-container4 {
     font-size: 16px; /* Dimensiunea textului */
     position: relative;
     width: 57.8%;
     margin-top: 30px;
     margin-left: 10%;
     line-height: 1.8;
}
@media (max-width: 959px) {
    .flex-container1 {
        margin: 0;
        display: flow!important;
    }
    .image-container1 {
        width: auto;
        margin-top: 30px;
        margin-left: auto;
}
    .text-container1 {
        font-size: 16px;
        position: relative;
        width: auto;
        margin-top: 0;
        margin-left: 20px;
        line-height: 1.8;
        margin-right: 20px;
    }

    .flex-container2 {
        margin: 0;
        display: flow!important;
    }
    .image-container2 {
        width: auto;
        margin-top: 30px;
        margin-left: auto;
}
    .text-container2 {
        font-size: 16px;
        position: relative;
        width: auto;
        margin-top: 0;
        margin-left: 20px;
        line-height: 1.8;
        margin-right: 20px;
    }
    .flex-container3 {
        margin: 0;
        display: flow!important;
    }
    .image-container3 {
        width: auto;
        margin-top: 30px;
        margin-left: auto;
}
    .text-container3 {
        font-size: 16px;
        position: relative;
        width: auto;
        margin-top: 0;
        margin-left: 20px;
        line-height: 1.8;
        margin-right: 20px;
    }
    .flex-container4 {
        margin: 0;
        display: flow!important;
    }
    .image-container4 {
        width: auto;
        margin-top: 30px;
        margin-left: auto;
}
    .text-container4 {
        font-size: 16px;
        position: relative;
        width: auto;
        margin-top: 0;
        margin-left: 20px;
        line-height: 1.8;
        margin-right: 20px;
    }
    .header1 {
        width: 60%;
    }
    .logo {
    height: auto;
    width: 80%;
    }
}
#galerie {
    margin: 50px 200px; /* Spațiu exterior */
}
#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    margin: 50px;
    width: 100%;
    text-align: center;
    max-width: 650px;
    height: 200px;
    background-color: #dbcdb3;
}
.list-servicii a {
    line-height: 1.8;
}
@media (max-width: 959px) {
    .servicii {
    margin: 20px;
}
#galerie {
    margin: 20px;
}
#galerie h2 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}
.contact {
    margin: 50px;
    }
}
*************************************
Menu hamburger
**************************************
/* Meniul pe ecrane mari */
.menu {
    display: flex;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
}
/* Butonul hamburger */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #000000;
    font-size: 32px;
    cursor: pointer;
    padding-left: 0;
}
/* Meniul pe ecrane mici */
@media screen and (max-width: 959px) {
    
    .header2.active{
        display: block;
    }

    .menu-toggle {
        display: block;
        order: 2;
    }
}
.container-footer{
    background-color: #dbcdb3;
    padding: 40px 0;
}
.text-company{
    text-align: center;
}
.contact--socials img {
    width: 40px;
    height: 40px;
}
.footer1{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 959px) {
    .footer1 .header1 .logo {
        height: auto;
        max-width: 150px;
        width: auto;
    }
.text-company{
    padding: 0 5px;
}
}

************************
/* Galerie stiluri */
.galerie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 20px 0;
}

/* Imaginile din galerie */
.galerie-item img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 20px;
}

.galerie-item img:hover {
    transform: scale(1.05);
}

/* Caruselul care va apărea peste galerie */
.carousel {
    display: none; /* Inițial este ascuns */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundal întunecat */
    z-index: 9999;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.carousel-images img {
    max-width: 100%;
    max-height: 80vh; /* Limitează înălțimea imaginii */
    margin: 10px;
    object-fit: contain;
}

/* Săgețile de navigare */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 100;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Butonul de închidere */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.close-btn:hover {
    background: rgba(0, 0, 0, 0.9);
}
*****************************************

.success {
    color: green;
    padding: 10px;
    margin-top: 10px;
    background-color: #e6ffe6;
    border: 1px solid green;
    border-radius: 4px;
}

.error {
    color: red;
    padding: 10px;
    margin-top: 10px;
    background-color: #ffebeb;
    border: 1px solid red;
    border-radius: 4px;
}
