{% extends "base.html" %}

{% block content %}
    <section class="flex-container">
    <div class="flex-container4">
    <div class="text-container4">
        <h2>Serviciile Noastre</h2>
        <p>Oferim tatuaje pentru buze, sprâncene și gene, realizate de specialiști calificați.</p>
        <ul class="list-servicii">
            <li><a>- Tatuaj buze</a></li>
            <li><a>- Tatuaj sprâncene</a></li>
            <li><a>- Tatuaj gene</a></li>
        </ul>    
    </div>
    <div class="image-container4">
        <img src="photo10.jpg" alt="Descriere imagine">
    </div>
</div>
</section>
{% endblock %}
